h1.course-title {
  background-color: #60a3bc;
  color: white;

  position: fixed;
  top: 0; left: 0; right: 0;

  margin: 0;
  padding: 10px;

  box-shadow: 0 -1px 4px #444;

  z-index: 10;
}

.course {
  background-color: #82ccdd;

  padding: 0;
  margin: 0;
  min-height: 100vh;
}

.tutorials {
  z-index: 0;

  padding: 20px 30px;
  padding-top: 80px;
}

.tutorial {
  display: block;

  margin-left: auto;
  margin-right: auto;

  margin-top: 30px;

  background-color: white;

  max-width: 600px;

  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
  border-radius: 3px;

  transition: background-color 200ms linear;
}

.tutorial.hide:hover {
  background-color: #ddd;
}

.tutorial.hide .content {
  display: none;
}


.tutorial .subtitle {
  margin: 0;
  padding: 20px;
  cursor: pointer;
  font-size: 30px;
}

.tutorial .content {
  padding: 10px 20px;
}

.tutorial .content p:first-child {
  margin-top: 0;
}

.tutorial p code {
  background-color: #ecf0f1;
  display: inline-block;

  padding: 3px;
}

.tutorial pre code {
  padding: 20px;
  font-size: 15px;
}

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

h1, h2, h3 {
  font-family: 'Quicksand', sans-serif;
}
