<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" type="text/css" href="{{base_url}}/static/main.css" />
    <link rel="stylesheet" type="text/css" href="{{base_url}}/static/fonts.css" />
    <link rel="stylesheet" type="text/css" href="{{base_url}}/static/zenburn.min.css" />

    <script defer onload="hljs.initHighlightingOnLoad();" src="{{base_url}}/static/highlight.min.js"></script>

    {% block head %}{% endblock %}
  </head>
  <body>
    <div id="content">
      {% block content %}{% endblock %}
    </div>

    <script src="{{base_url}}/static/main.js"></script>
  </body>
</html>
